langchain==0.3.26
langchain-community==0.3.26
langchain-openai==0.3.24
langchain-pinecone==0.2.8
langchain-huggingface
langchain-groq
fastapi
uvicorn
python-multipart
sentence-transformers
pypdf==5.6.1
python-dotenv==1.1.0
pinecone
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu